<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>All trees</title>
    </head>
    <body>
    <ul>

        <div th:each="tree : ${trees}">
            <li>
                <h2><a th:href="@{rest/listTrees/} + ${tree.id}" th:text="${tree.name}"></a></h2>
                <h4 th:text="'id: ' + ${tree.id}"></h4>
                <h4 th:text="'rodzaj: ' + ${tree.treeEnum} "></h4>
                <p th:if="${tree.treeEnum == T(pl.wroc.pwr.sa.model.TreeEnum).EVENT_TREE}">
                    <a th:href="@{/rest/tree/{id}/graph(id=${tree.id})}">Generate Graph</a> <br/><br/>
                    <ul>
                        <li>
                            <a th:href="@{/rest/analyseEventTree/check-the-cohesion/} + ${tree.id}">Check the cohesion of the tree</a> <br/>
                        </li>

                        <li>
                            Count probability for scenarios <br/><br/>
                            <form th:action="@{/rest/analyseEventTree/scenario-counter/} + ${tree.id}" th:method="GET">
                                Options: <input type="text" name="options"/>
                                <input type="submit" value="Submit" />
                            </form>
                        </li>
                    </ul>
                </p>
                <p th:if="${tree.treeEnum == T(pl.wroc.pwr.sa.model.TreeEnum).FAULT_TREE}">
                    <a th:href="@{/rest/tree/{id}/graph(id=${tree.id})}">Generate Graph</a> <br/><br/>
                    <ul>
                        <li>
                            <a th:href="@{/rest/analyseFaultTree/general/} + ${tree.id}">General analysis</a> <br/>
                        </li>
                        <li>
                            <a th:href="@{/rest/analyseFaultTree/fuzzy-importance-index/} + ${tree.id}">Get fuzzy importance index</a> <br/>
                        </li>
                    </ul>
                </p>
            </li>
        </div>
    </ul>

    </body>
</html>